body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    padding-top: 10px;
}

#patientSearch input {
    max-width: 350px;
    width: 350px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}
.empty-message {
    margin-left: 5px;
    margin-right: 5px;
}

.result-panel {
    background-color: #c6f1ca;
    border: solid 1px #1f3819;
    padding: 5px;
}

.result-panel .title {
    font-size: 16px;
    font-weight: bold;
}

.phenotype-list {
    padding-left: 0px;
    list-style: none;
}

.phenotype {
    padding-left: 2em;
    text-indent: -2em;
    padding-bottom: 3px;
}

.phenotype small {
    padding-left: 10px;
    color: #707070;
}

.jumbotron {
    text-align: center;
}

/* Fix issue with offset content in dialog */
@media screen and (min-width: 768px) {
    .modal-dialog {
        left: auto;
    }
}

div.result-footer {
    padding-top: 20px;
}

small {
    font-size: 75%;
    color: #999;
}

.variant small {
    padding-left: 10px;
}

.alternate {
    font-weight: bold;
    color: #d80303;
}

/* Solution for spinner provided by:
    http://stackoverflow.com/questions/1964839/jquery-please-wait-loading-animation?answertab=votes#tab-top
*/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal-spinner {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('spinner.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-spinner {
    display: block;
}