@model List<MHGR.Models.DerivedPhenotype>
<ul class="phenotype-list">
    @foreach (var phenotype in Model)
    {
        <li class="phenotype">
            @Html.ActionLink(phenotype.Phenotype + " - " + phenotype.Value, "Result")
             <small>@phenotype.ResultedOn</small>
        </li>
    }
</ul>