<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="GVFList" value="C:\Development\MHGR\MHGR\Data\GVF\GVFList.txt"/>
    <add key="GVFDirectory" value="C:\Development\MHGR\MHGR\Data\GVF\"/>
  </appSettings>
</configuration>
